<div class="users-container">
	<%= button_to destroy_user_session_path, method: :delete, class: 'button-posts' do %>
    Log Out
    <i class="fa-solid fa-right-from-bracket"></i>
  <% end %>
	<% @users.each do |user| %>
		<div class="users">
			<img src="<%= user.photo %>" class="users-photos" />
			<div class="user-container">
				<%= link_to user_path(user.id), method: :get do %>
					<p class="users-name"><%= user.name %></p>
				<% end %>
				<p class="users-posts-counter">Number of posts: <%= user.posts_counter %></p>
			</div>
		</div>
	<% end %>
</div>
