<div class="users-container">
	<div id="posts-bar">
		<%= link_to users_path, method: :get, class: 'button-posts' do %>
    	<i class="fas fa-arrow-left"></i> Back to Users
  	<% end %>
  	<%= link_to edit_user_registration_path, method: :get, class: 'button-posts' do %>
  		<i class="fa-solid fa-pen-to-square"></i>
       Edit Info
    <% end %>
  </div>
	<div class="users">
		<img src="<%= @user_select.photo %>" class="users-photos" />
		<div class="user-container">
			<h2 class="users-name"><%= @user_select.name %></h2>
			<p class="users-posts-counter">Number of posts: <%= @user_select.posts_counter %></p>
		</div>
	</div>
	<div class="user-bio">
		<p>Bio:</p>
		<%= @user_select.bio %>
	</div>
	<div class="posts-container">
		<% @user_select.recent_posts.each do |post| %>
			<div class="posts">
				<%= link_to user_post_path(@user_select, post), method: :get do %>
        	<%= post.title %>
        <% end %>
				<p><%= post.text.truncate(50) %></p>
				<p>
					<span>Comments: <%= post.comments_counter %></span>
					<span>Likes: <%= post.likes_counter %>
					</span>
				</p>
			</div>
		<% end %>
	</div>
	<%= link_to user_posts_path(@user_select), method: :get, class: 'button-posts' do %>
		See all posts
	<% end %>
</div>
