<div class="users">
	<img src="<%= @user_select.photo %>" class="users-photos" />
	<h2 class="users-name"><%= @user_select.name %></h2>
	<p class="users-posts-counter">Number of posts: <%= @user_select.posts_counter %></p>
</div>
<div class="user-bio">
	<p>Bio:</p>
	<%= @user_select.bio %>
</div>
<div class="posts-container">
	<% @user_select.recent_posts.each_with_index do |post, index| %>
		<div class="posts">
			<p>Post <%= "#" + (index + 1).to_s %></p>
			<p><%= post.text %></p>
			<p>
				<span>Comments: <%= post.comments_counter %></span>
				<span>Likes: <%= post.likes_counter %>
				</span>
			</p>
		</div>
	<% end %>
</div>
<button type="button" class="button-posts">See all posts</button>