<div class="users-container">
	<div id="posts-bar">
		<%= link_to user_path(@user_select), method: :get, class: 'button-posts' do %>
			<i class="fas fa-arrow-left"></i> Back to User
		<% end %>
		<% if can? :create, @user_select %>
			<%= link_to new_user_post_path(@user_select), method: :get, class: 'button-posts' do %>
				Create a new post
			<% end %>
		<% end %>
  </div>
	<div class="users">
		<img src="<%= @user_select.photo %>" class="users-photos" />
		<div class="user-container">
			<p class="users-name"><%= @user_select.name %></p>
			<p class="users-posts-counter">Number of posts: <%= @user_select.posts_counter %></p>
		</div>
	</div>
	<div class="posts-container">
		<% @posts.each do |post| %>
			<div class="post-comments">
				<div class="posts">
					<%= link_to user_post_path(@user_select, post), method: :get do %>
						<p><%= post.title %></p>
					<% end %>
					<div id="posts-title">
						<% if can? :edit, post %>
              <%= link_to edit_user_post_path(id: post.id, user_id: post.author_id), method: :get, class: 'button-posts' do %>
                Edit
                <i class="fa-solid fa-pen-to-square"></i>
              <% end %>
            <% end %>
            <% if can? :destroy, post %>
            	<%= button_to user_post_path(@user_select, post), action: 'destroy', data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, remote: true, class: 'button-posts' do %>
               	<i class="fa-solid fa-trash-can"></i>
               	Delete
              <% end %>
            <% end %>
					</div>
					<p><%= post.text.truncate(50) %></p>
					<p>
						<span>Comments: <%= post.comments_counter %></span>
						<span>Likes: <%= post.likes_counter %>
						</span>
					</p>
				</div>
				<div class="posts-comments">
					<% post.comments.includes(:user).order(updated_at: :desc).limit(5).each do |comment| %>
						<p>
							<strong><%= comment.user.name %>:</strong>
							<span> <%= comment.text %> </span>
						</p>
					<% end %>
				</div>
			</div>
		<% end %>
	</div>
	<% unless @posts.empty? %>
		<%= link_to user_post_path(@user_select, @posts[0]), method: :get, class: 'button-posts' do %>
			Pagination
		<% end %>
	<% end %>
</div>
