<div class="posts-container">
	<%= link_to user_posts_path(@user_select), method: :get, class: 'button-posts' do %>
    <i class="fas fa-arrow-left"></i> Back to User
  <% end %>
	<div>
		<div class="post">
			<div class="post-title">
				<h3><%= @post.title %> by <%= User.find(@post.author_id).name %> </h3>
				<% if @like %>
					<%= button_to user_post_like_path(@user_select, @post, @like), action: 'destroy', method: :delete, remote: true, class: 'buttons-forms' do %>
           <i class="fa-solid fa-heart like"></i>
           <% end %>
				<% else %>
					<%= button_to user_post_likes_path(@user_select, @post), method: :post, class: 'buttons-forms' do %>
          <i class="fa-solid fa-heart not-like"></i>
        	<% end %>
				<% end %>
				<p>
					<span>Comments: <%= @post.comments_counter %></span>
					<span>Likes: <%= @post.likes_counter %></span>
				</p>
			</div>
			<p>
				<%= @post.text %>
			</p>
		</div>
		<div class="comments">
			<%= render 'comments/form' %>
			<% @comments.each do |comment| %>
				<div class="comment-flex">
					<p>
						<strong><%= comment.user.name %>:</strong>
						<span><%= comment.text %></span>
					</p>
					<% if can? :destroy, comment %>
						<%= button_to user_post_comment_path(@user_select, @post, comment), action: 'destroy', data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, remote: true, class: 'button-posts' do %>
							<i class="fa-solid fa-trash-can"></i>
							Delete
						<% end %>
					<% end %>
				</div>
			<% end %>
		</div>
	</div>
	<div class="buttons-container">
		<% if @previous_post %>
      <%= link_to user_post_path(user_id: @user_select.id, id: @previous_post.id), method: :get, class: 'button-posts' do %>
       Previous Post
      <% end %>
    <% end %>
		<% if @next_post %>
      <%= link_to user_post_path(user_id: @user_select.id, id: @next_post.id), method: :get, class: 'button-posts' do %>
      	Next Post
      <% end %>
    <% end %>
	</div>
</div>
