<div class="posts-container">
	<i class="fa-solid fa-arrow-left"></i><%= button_to 'Back to User', user_posts_path(@user_select), method: :get, class: 'button-posts' %>
	<div>
		<div class="post">
			<div class="post-title">
				<h3><%= @post.title %> by <%= User.find(@post.author_id).name %> </h3>
				<p>
					<span>Comments: <%= @post.comments_counter %></span>
					<span>Likes: <%= @post.likes_counter %></span>
				</p>
			</div>
			<p>
				<%= @post.text %>
			</p>
		</div>
		<div class="comments">
			<% @comments.each do |comment| %>
				<p>
					<strong><%= User.find(comment.user_id).name %>:</strong>
					<span><%= comment.text %></span>
				</p>
			<% end %>
		</div>
	</div>
	<div class="buttons-container">
		<% unless @id.to_i == 1 %>
      <%= button_to 'Previous Post', "#{@id.to_i - 1}", method: :get, class: 'button-posts' %>
    <% end %>
    <% unless @id.to_i >= @posts.count %>
      <%= button_to 'Next Post', "#{@id.to_i + 1}", method: :get, class: 'button-posts' %>
    <% end %>
	</div>
</div>
